block content
    .navbar-wrapper
      .container
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
          ul.nav
            li
              a(href='index.html')
                img.logo(src='LWSD_CMYK_BT_H.png')
          ul.nav.navbar-nav.navbar-right
            li
              a(href='SanDiegoCO.html') County-wide health data
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Explore your region's health
                b.caret
              .dropdown-menu.multi-column
                .container-fluid
                  .row-fluid
                    .span3
                      ul.dropdown-menu
                        li
                          a(href='#') Alpine
                        li
                          a(href='#') Anza-Borrego Springs
                        li
                          a(href='#') Carlsbad
                        li
                          a(href='#') Central SD
                        li
                          a(href='chulavista') Chula Vista
                        li
                          a(href='#') Coastal
                        li
                          a(href='#') Coronado
                        li
                          a(href='#') Del Mar-Mira Mesa
                        li
                          a(href='#') El Cajon
                        li
                          a(href='#') Elliott-Navajo
                        li
                          a(href='#') Escondido
                    .span3
                      ul.dropdown-menu
                        li
                          a(href='#') Fallbrook
                        li
                          a(href='#') Harbison-Crest/El Cajon
                        li
                          a(href='#') Jamul
                        li
                          a(href='#') Kearny Mesa
                        li
                          a(href='#') La Mesa
                        li
                          a(href='#') Laguna-Pine Valley
                        li
                          a(href='#') Lakeside
                        li
                          a(href='#') Lemon Grove
                        li
                          a(href='#') Mid-City
                        li
                          a(href='#') Miramar
                    .span3
                      ul.dropdown-menu
                        li
                          a(href='#') Mountain Empire
                        li
                          a(href='#') National City
                        li
                          a(href='#') North SD
                        li
                          a(href='#') Oceanside
                        li
                          a(href='#') Palomar-Julian
                        li
                          a(href='#') Pauma
                        li
                          a(href='#') Pendleton
                        li
                          a(href='#') Peninsula
                        li
                          a(href='#') Poway
                        li
                          a(href='#') Ramona
                    .span3
                      ul.dropdown-menu
                        li
                          a(href='#') San Dieguito
                        li
                          a(href='#') San Marcos
                        li
                          a(href='#') Santee
                        li
                          a(href='#') South Bay
                        li
                          a(href='#') Southeast SD
                        li
                          a(href='#') Spring Valley
                        li
                          a(href='#') Sweetwater
                        li
                          a(href='#') University
                        li
                          a(href='#') Valley Center
                        li
                          a(href='#') Vista
            li
              a(href='index.html#map') Map comparisons
    .span3
      ul.dropdown-menu
        li
          a(href='#') Fallbrook
        li
          a(href='#') Harbison-Crest/El Cajon
        li
          a(href='#') Jamul
        li
          a(href='#') Kearny Mesa
        li
          a(href='#') La Mesa
        li
          a(href='#') Laguna-Pine Valley
        li
          a(href='#') Lakeside
        li
          a(href='#') Lemon Grove
        li
          a(href='#') Mid-City
        li
          a(href='#') Miramar
    .span3
      ul.dropdown-menu
        li
          a(href='#') Mountain Empire
        li
          a(href='#') National City
        li
          a(href='#') North SD
        li
          a(href='#') Oceanside
        li
          a(href='#') Palomar-Julian
        li
          a(href='#') Pauma
        li
          a(href='#') Pendleton
        li
          a(href='#') Peninsula
        li
          a(href='#') Poway
        li
          a(href='#') Ramona
    .span3
      ul.dropdown-menu
        li
          a(href='#') San Dieguito
        li
          a(href='#') San Marcos
        li
          a(href='#') Santee
        li
          a(href='#') South Bay
        li
          a(href='#') Southeast SD
        li
          a(href='#') Spring Valley
        li
          a(href='#') Sweetwater
        li
          a(href='#') University
        li
          a(href='#') Valley Center
        li
          a(href='#') Vista

