block content
    .navbar-wrapper
      .container
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
          ul.nav
            li
              a(href='index.html')
                img.logo(src='images/LWSD_CMYK_BT_H.png')
          ul.nav.navbar-nav.navbar-right
            li
              a(href='SDCO.html') County-wide health data
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Explore your region's health
                b.caret
              .dropdown-menu.multi-column
                .container-fluid
                  .row-fluid
                    .span3
                      ul.dropdown-menu
                        li
                          a(href='alpine') Alpine
                        li
                          a(href='anza-borregosprings') Anza-Borrego Springs
                        li
                          a(href='carlsbad') Carlsbad
                        li
                          a(href='centralsd') Central SD
                        li
                          a(href='chulavista') Chula Vista
                        li
                          a(href='coastal') Coastal
                        li
                          a(href='coronado') Coronado
                        li
                          a(href='delmar-miramesa') Del Mar-Mira Mesa
                        li
                          a(href='elcajon') El Cajon
                        li
                          a(href='elliott-navajo') Elliott-Navajo
                        li
                          a(href='escondido') Escondido
                    .span3
                      ul.dropdown-menu
                        li
                          a(href='fallbrook') Fallbrook
                        li
                          a(href='harbisoncrest') Harbison-Crest/El Cajon
                        li
                          a(href='jamul') Jamul
                        li
                          a(href='kearnymesa') Kearny Mesa
                        li
                          a(href='lamesa') La Mesa
                        li
                          a(href='laguna-pinevalley') Laguna-Pine Valley
                        li
                          a(href='lakeside') Lakeside
                        li
                          a(href='lemongrove') Lemon Grove
                        li
                          a(href='midcity') Mid-City
                        li
                          a(href='miramar') Miramar
                    .span3
                      ul.dropdown-menu
                        li
                          a(href='mountainempire') Mountain Empire
                        li
                          a(href='nationalcity') National City
                        li
                          a(href='northsd') North SD
                        li
                          a(href='oceanside') Oceanside
                        li
                          a(href='palomar-julian') Palomar-Julian
                        li
                          a(href='pauma') Pauma
                        li
                          a(href='pendleton') Pendleton
                        li
                          a(href='peninsula') Peninsula
                        li
                          a(href='poway') Poway
                        li
                          a(href='ramona') Ramona
                    .span3
                      ul.dropdown-menu
                        li
                          a(href='sandieguito') San Dieguito
                        li
                          a(href='sanmarcos') San Marcos
                        li
                          a(href='santee') Santee
                        li
                          a(href='southbay') South Bay
                        li
                          a(href='southeastsd') Southeast SD
                        li
                          a(href='springvalley') Spring Valley
                        li
                          a(href='sweetwater') Sweetwater
                        li
                          a(href='university') University
                        li
                          a(href='valleycenter') Valley Center
                        li
                          a(href='vista') Vista
            li
              a(href='index.html#map') Map comparisons


