block content
    .navbar-wrapper
      .container
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
          ul.nav
            li
              a(href='index.html')
                img.logo(src='LWSD_CMYK_BT_H.png')
          ul.nav.navbar-nav.navbar-right
            li
              a(href='SanDiegoCO.html') County-wide health data
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Explore your region's health
                b.caret
              .dropdown-menu.multi-column
                .container-fluid
                  .row-fluid
                    .span3
                      ul.dropdown-menu
                        li
                          a(href='alpine') Alpine
                        li
                          a(href='anza-borregosprings') Anza-Borrego Springs
                        li
                          a(href='carlsbad') Carlsbad
                        li
                          a(href='centralsd') Central SD
                        li
                          a(href='chulavista') Chula Vista
                        li
                          a(href='coastal') Coastal
                        li
                          a(href='coronado') Coronado
                        li
                          a(href='delmar-miramesa') Del Mar-Mira Mesa
                        li
                          a(href='elcajon') El Cajon
                        li
                          a(href='elliott-navajo') Elliott-Navajo
                        li
                          a(href='escondido') Escondido
                    .span3
                      ul.dropdown-menu
                        li
                          a(href='fallbrook') Fallbrook
                        li
                          a(href='harbison-crest') Harbison-Crest/El Cajon
                        li
                          a(href='jamul') Jamul
                        li
                          a(href='kearnymesa') Kearny Mesa
                        li
                          a(href='lamesa') La Mesa
                        li
                          a(href='laguna-pinevalley') Laguna-Pine Valley
                        li
                          a(href='lakeside') Lakeside
                        li
                          a(href='lemongrove') Lemon Grove
                        li
                          a(href='midcity') Mid-City
                        li
                          a(href='miramar') Miramar
                    .span3
                      ul.dropdown-menu
                        li
                          a(href='mountainempire') Mountain Empire
                        li
                          a(href='nationalcity') National City
                        li
                          a(href='northsd') North SD
                        li
                          a(href='oceanside') Oceanside
                        li
                          a(href='palomar-julian') Palomar-Julian
                        li
                          a(href='pauma') Pauma
                        li
                          a(href='pendleton') Pendleton
                        li
                          a(href='peninsula') Peninsula
                        li
                          a(href='poway') Poway
                        li
                          a(href='ramona') Ramona
                    .span3
                      ul.dropdown-menu
                        li
                          a(href='sandieguito') San Dieguito
                        li
                          a(href='sanmarcos') San Marcos
                        li
                          a(href='santee') Santee
                        li
                          a(href='southbay') South Bay
                        li
                          a(href='southeastsd') Southeast SD
                        li
                          a(href='springvalley') Spring Valley
                        li
                          a(href='sweetwater') Sweetwater
                        li
                          a(href='university') University
                        li
                          a(href='valleycenter') Valley Center
                        li
                          a(href='vista') Vista
            li
              a(href='index.html#map') Map comparisons
    .span3
      ul.dropdown-menu
        li
          a(href='#') Fallbrook
        li
          a(href='#') Harbison-Crest/El Cajon
        li
          a(href='#') Jamul
        li
          a(href='#') Kearny Mesa
        li
          a(href='#') La Mesa
        li
          a(href='#') Laguna-Pine Valley
        li
          a(href='#') Lakeside
        li
          a(href='#') Lemon Grove
        li
          a(href='#') Mid-City
        li
          a(href='#') Miramar
    .span3
      ul.dropdown-menu
        li
          a(href='#') Mountain Empire
        li
          a(href='#') National City
        li
          a(href='#') North SD
        li
          a(href='#') Oceanside
        li
          a(href='#') Palomar-Julian
        li
          a(href='#') Pauma
        li
          a(href='#') Pendleton
        li
          a(href='#') Peninsula
        li
          a(href='#') Poway
        li
          a(href='#') Ramona
    .span3
      ul.dropdown-menu
        li
          a(href='#') San Dieguito
        li
          a(href='#') San Marcos
        li
          a(href='#') Santee
        li
          a(href='#') South Bay
        li
          a(href='#') Southeast SD
        li
          a(href='#') Spring Valley
        li
          a(href='#') Sweetwater
        li
          a(href='#') University
        li
          a(href='#') Valley Center
        li
          a(href='#') Vista

