
script.

  var stats = [
    {
      "title":"Alpine",
      "SRA":"alpine",
      "lat": "32.8344",
      "long": "-116.7706",
      "exercise": "33.7",
      "diet": "44.1",
      "smoke":"14.6",
      "overweight":"67.2",
      "fastfood":"22.2",
      "fruits":"53.9",
      "active":"33.3"
    },
    {
      "title":"Anza-Borrego Springs",
      "SRA":"anza-borregosprings",
      "lat": "33.2592",
      "long": "-116.3992",
      "exercise": "31.7",
      "diet": "40.3",
      "smoke":"14.1",
      "overweight":"61.5",
      "fastfood":"14.3",
      "fruits":"53.8",
      "active":"36.8"
    },
    {
      "title":"Carlsbad",
      "SRA":"carlsbad",
      "lat": "33.1219",
      "long": "-117.2969",
      "exercise": "33.1",
      "diet": "45.0",
      "smoke":"12.4",
      "overweight":"55.8",
      "fastfood":"19.6",
      "fruits":"38.0",
      "active":"48.1"
    },
    {
      "title":"Central SD",
      "SRA":"centralsd",
      "lat": "32.7150",
      "long": "-117.1625",
      "exercise": "27.5",
      "diet": "38.3",
      "smoke":"16.6",
      "overweight":"55.0",
      "fastfood":"21.3",
      "fruits":"56.8",
      "active":"36.1"
    },
    {
      "title":"Chula Vista",
      "SRA":"chulavista",
      "lat": "32.6278",
      "long": "-117.0481",
      "exercise": "25.6",
      "diet": "36.2",
      "smoke":"11.0",
      "overweight":"65.6",
      "fastfood":"18.9",
      "fruits":"49.5",
      "active":"42.0"
    },
    {
      "title":"Coastal",
      "SRA":"coastal",
      "lat": "32.8273",
      "long": "-117.2541",
      "exercise": "33.2",
      "diet": "45.3",
      "smoke":"10.3",
      "overweight":"48.2",
      "fastfood":"18.5",
      "fruits":"56.8",
      "active":"55.0"
    },
    {
      "title":"Coronado",
      "SRA":"coronado",
      "lat": "32.6781",
      "long": "-117.1725",
      "exercise": "39.8",
      "diet": "38.7",
      "smoke":"11.0",
      "overweight":"65.6",
      "fastfood":"18.9",
      "fruits":"49.5",
      "active":"42.0"
    },
    {
      "title":"Del Mar - Mira Mesa",
      "SRA":"delmar-miramesa",
      "lat": "32.9357",
      "long": "-117.2057",
      "exercise": "33.7",
      "diet": "44.5",
      "smoke":"10.3",
      "overweight":"48.2",
      "fastfood":"18.5",
      "fruits":"56.8",
      "active":"55.0"
    },
    {
      "title":"El Cajon",
      "SRA":"elcajon",
      "lat": "32.7983",
      "long": "-116.9600",
      "exercise": "28.5",
      "diet": "40.1",
      "smoke":"14.6",
      "overweight":"67.2",
      "fastfood":"22.2",
      "fruits":"53.9",
      "active":"33.3"
    },
    {
      "title":"Elliott-Navajo",
      "SRA":"elliott-navajo",
      "lat": "32.8232",
      "long": "-117.0537",
      "exercise": "34.4",
      "diet": "44.1",
      "smoke":"10.3",
      "overweight":"48.2",
      "fastfood":"18.5",
      "fruits":"56.8",
      "active":"55.0"
    },
    {
      "title":"Escondido",
      "SRA":"escondido",
      "lat": "33.1247",
      "long": "-117.0808",
      "exercise": "28.6",
      "diet": "39.4",
      "smoke":"14.1",
      "overweight":"61.5",
      "fastfood":"14.3",
      "fruits":"53.8",
      "active":"36.8"
    },
    {
      "title":"Fallbrook",
      "SRA":"fallbrook",
      "lat": "33.3717",
      "long": "-117.2361",
      "exercise": "32.9",
      "diet": "43.6",
      "smoke":"14.1",
      "overweight":"61.5",
      "fastfood":"14.3",
      "fruits":"53.8",
      "active":"36.8"
    },
    {
      "title":"Harbison Crest/El CAjon**",
      "SRA":"harbisoncrest",
      "lat": "32.8076",
      "long": "-116.8743",
      "exercise": "33.6",
      "diet": "44.5",
      "smoke":"14.6",
      "overweight":"67.2",
      "fastfood":"22.2",
      "fruits":"53.9",
      "active":"33.3"
    },
    {
      "title":"Jamul",
      "SRA":"jamul",
      "lat": "32.7267",
      "long": "-116.8822",
      "exercise": "33.6",
      "diet": "46.4",
      "smoke":"14.6",
      "overweight":"67.2",
      "fastfood":"22.2",
      "fruits":"53.9",
      "active":"33.3"
    },
    {
      "title":"Kearny Mesa",
      "SRA":"kearnymesa",
      "lat": "32.8250",
      "long": "-117.1392",
      "exercise": "31.4",
      "diet": "41.9",
      "smoke":"10.3",
      "overweight":"48.2",
      "fastfood":"18.5",
      "fruits":"56.8",
      "active":"55.0"
    },
    {
      "title":"La Mesa",
      "SRA":"lamesa",
      "lat": "32.7714",
      "long": "-117.0228",
      "exercise": "31.0",
      "diet": "43.7",
      "smoke":"14.6",
      "overweight":"67.2",
      "fastfood":"22.2",
      "fruits":"53.9",
      "active":"33.3"
    },
    {
      "title":"Laguna - Pine Valley",
      "SRA":"laguna-pineValley",
      "lat": "32.8281",
      "long": "-116.5267",
      "exercise": "30.7",
      "diet": "42.1",
      "smoke":"14.6",
      "overweight":"67.2",
      "fastfood":"22.2",
      "fruits":"53.9",
      "active":"33.3"
    },
    {
      "title":"Lakeside",
      "SRA":"lakeside",
      "lat": "32.8566",
      "long": "-116.9224",
      "exercise": "30.2",
      "diet": "41.4",
      "smoke":"14.6",
      "overweight":"67.2",
      "fastfood":"22.2",
      "fruits":"53.9",
      "active":"33.3"
    },
    {
      "title":"Lemon Grove",
      "SRA":"lemongrove",
      "lat": "32.7414",
      "long": "-117.0317",
      "exercise": "28.4",
      "diet": "38.9",
      "smoke":"14.6",
      "overweight":"67.2",
      "fastfood":"22.2",
      "fruits":"53.9",
      "active":"33.3"
    },
    {
      "title":"Mid-City",
      "SRA":"midcity",
      "lat": "32.7622",
      "long": "-117.0909",
      "exercise": "26.9",
      "diet": "35.3",
      "smoke":"16.6",
      "overweight":"55.0",
      "fastfood":"21.3",
      "fruits":"56.8",
      "active":"36.1"
    },
    {
      "title":"Miramar",
      "SRA":"miramar",
      "lat": "32.8678",
      "long": "-117.1417",
      "exercise": "48.5",
      "diet": "27.4",
      "smoke":"10.3",
      "overweight":"48.2",
      "fastfood":"18.5",
      "fruits":"56.8",
      "active":"55.0"
    },
    {
      "title":"Mountain Empire",
      "SRA":"mountainempire",
      "lat": "32.6092",
      "long": "-116.4744",
      "exercise": "30.1",
      "diet": "41.4",
      "smoke":"14.6",
      "overweight":"67.2",
      "fastfood":"22.2",
      "fruits":"53.9",
      "active":"33.3"
    },
    {
      "title":"National City",
      "SRA":"nationalcity",
      "lat": "32.6781",
      "long": "-117.0992",
      "exercise": "22.3",
      "diet": "30.7",
      "smoke":"11.0",
      "overweight":"65.6",
      "fastfood":"21.3",
      "fruits":"49.5",
      "active":"42.0"
    },
    {
      "title":"North SD",
      "SRA":"northsd",
      "lat": "33.0335",
      "long": "-117.1726",
      "exercise": "34.5",
      "diet": "45.5",
      "smoke":"14.1",
      "overweight":"61.5",
      "fastfood":"14.3",
      "fruits":"53.8",
      "active":"36.8"
    },
    {
      "title":"Oceanside",
      "SRA":"oceanside",
      "lat": "33.2117",
      "long": "-117.3258",
      "exercise": "29.5",
      "diet": "40.2",
      "smoke":"12.4",
      "overweight":"55.8",
      "fastfood":"19.6",
      "fruits":"38.0",
      "active":"48.1"
    },
    {
      "title":"Palomar - Julian",
      "SRA":"palomar-julian",
      "lat": "33.3558",
      "long": "-116.8639",
      "exercise": "33.5",
      "diet": "42.6",
      "smoke":"14.1",
      "overweight":"61.5",
      "fastfood":"14.3",
      "fruits":"38.0",
      "active":"36.8"
    },
    {
      "title":"Pauma",
      "SRA":"pauma",
      "lat": "33.3034",
      "long": "-116.9814",
      "exercise": "31.7",
      "diet": "40.9",
      "smoke":"14.1",
      "overweight":"61.5",
      "fastfood":"14.3",
      "fruits":"53.8",
      "active":"36.8"
    },
    {
      "title":"Pendleton",
      "SRA":"pendleton",
      "lat": "33.3333",
      "long": "-117.4167",
      "exercise": "48.5",
      "diet": "27.4",
      "smoke":"12.4",
      "overweight":"55.8",
      "fastfood":"19.6",
      "fruits":"38.0",
      "active":"48.1"
    },
    {
      "title":"Peninsula",
      "SRA":"peninsula",
      "lat": "32.7266",
      "long": "-117.2439",
      "exercise": "29.6",
      "diet": "39.9",
      "smoke":"10.3",
      "overweight":"48.2",
      "fastfood":"18.5",
      "fruits":"56.8",
      "active":"55.0"
    },
    {
      "title":"Poway",
      "SRA":"poway",
      "lat": "32.9700",
      "long": "-117.0386",
      "exercise": "34.3",
      "diet": "46.7",
      "smoke":"14.1",
      "overweight":"61.5",
      "fastfood":"14.3",
      "fruits":"53.8",
      "active":"36.8"
    },
    {
      "title":"Ramona",
      "SRA":"ramona",
      "lat": "33.0358",
      "long": "-116.8706",
      "exercise": "32.1",
      "diet": "43.2",
      "smoke":"14.1",
      "overweight":"61.5",
      "fastfood":"14.3",
      "fruits":"53.8",
      "active":"36.8"
    },
    {
      "title":"San Diego County",
      "SRA":"SDCO",
      "lat": "32.95",
      "long": "-116.9",
      "exercise": "30.5",
      "diet": "40.4",
      "smoke":"13.1",
      "overweight":"58.5",
      "fastfood":"18.9",
      "fruits":"51.7",
      "active":"42.3"
    },
    {
      "title":"San Dieguito",
      "SRA":"sandieguito",
      "lat": "33.0535",
      "long": "-117.2797",
      "exercise": "32.4",
      "diet": "45.9",
      "smoke":"12.4",
      "overweight":"55.8",
      "fastfood":"19.6",
      "fruits":"38.0",
      "active":"48.1"
    },
    {
      "title":"San Marcos",
      "SRA":"sanmarcos",
      "lat": "33.1419",
      "long": "-117.1703",
      "exercise": "30.6",
      "diet": "41.8",
      "smoke":"14.1",
      "overweight":"61.5",
      "fastfood":"14.3",
      "fruits":"53.8",
      "active":"36.8"
    },
    {
      "title":"Santee",
      "SRA":"santee",
      "lat": "32.8697",
      "long": "-116.9711",
      "exercise": "32.2",
      "diet": "43.5",
      "smoke":"14.6",
      "overweight":"67.2",
      "fastfood":"22.2",
      "fruits":"53.9",
      "active":"33.3"
    },
    {
      "title":"South Bay",
      "SRA":"southbay",
      "lat": "32.5626",
      "long": "-117.0549",
      "exercise": "25.0",
      "diet": "33.0",
      "smoke":"11.0",
      "overweight":"65.6",
      "fastfood":"18.9",
      "fruits":"49.5",
      "active":"42.0"
    },
    {
      "title":"Southeast SD",
      "SRA":"southeastsd",
      "lat": "32.6911",
      "long": "-117.0680",
      "exercise": "26.3",
      "diet": "34.4",
      "smoke":"16.6",
      "overweight":"55.0",
      "fastfood":"21.3",
      "fruits":"56.8",
      "active":"36.1"
    },
    {
      "title":"Spring Valley",
      "SRA":"springvalley",
      "lat": "32.7448",
      "long": "-117.0017",
      "exercise": "30.4",
      "diet": "41.7",
      "smoke":"14.6",
      "overweight":"67.2",
      "fastfood":"22.2",
      "fruits":"53.9",
      "active":"33.3"
    },
    {
      "title":"Sweetwater",
      "SRA":"sweetwater",
      "lat": "32.6267",
      "long": "-117.0075",
      "exercise": "34.3",
      "diet": "44.2",
      "smoke":"11.0",
      "overweight":"65.6",
      "fastfood":"18.9",
      "fruits":"49.5",
      "active":"42.0"
    },
    {
      "title":"University",
      "SRA":"university",
      "lat": "32.8611",
      "long": "-117.2073",
      "exercise": "28.3",
      "diet": "37.5",
      "smoke":"10.3",
      "overweight":"48.2",
      "fastfood":"18.5",
      "fruits":"56.8",
      "active":"55.0"
    },
    {
      "title":"Valley Center",
      "SRA":"valley",
      "lat": "33.2406",
      "long": "-117.0142",
      "exercise": "34.9",
      "diet": "45.1",
      "smoke":"14.1",
      "overweight":"61.5",
      "fastfood":"14.3",
      "fruits":"53.8",
      "active":"36.8"
    },
    {
      "title":"Vista",
      "SRA":"vista",
      "lat": "33.1936",
      "long": "-117.2411",
      "exercise": "28.3",
      "diet": "37.9",
      "smoke":"12.4",
      "overweight":"55.8",
      "fastfood":"19.6",
      "fruits":"38.0",
      "active":"48.1"
    }

  ];

