doctype html
html
  head
    title= title


    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js')
    script(src='https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js')
    
    //Latest compiled and minified JavaScript 
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800', rel='stylesheet', type='text/css')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css', rel='stylesheet')


    link(rel='stylesheet', href='/lib/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/bootstrap-2.3.2.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/d3style.css')

    script(src='http://d3js.org/d3.v3.min.js')


  body
    block content
