
.axis text {
  font: 14px;
  float:#333;
}

.area {
  fill:none;
}

.axis path{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

y.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

x.axis line {
  display: none;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

.bar:hover {
  fill: brown;
}

label {
  top: 0px;
  left: 10px;
}
