
.axis text {
  font: 14px;
  float:#333;
}

.area {
  fill:none;
}

path.line
{
    fill: none;
    stroke: #000;
}

.axis path{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

y.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

x.axis line {
  display: none;
}

.bar {
  fill: #8A89A6;
  fill-opacity: .9;
}

.bar:hover {
  fill: orange;
}


/*Graphs*/

#graph-caption{
  margin-left: auto;
  margin-right: auto;
  width: 971px;
  text-align: center;
  position:absolute;
}


#tooltip{
  position: absolute;
  margin: 280px 400px;
  width: 250px;
  font-size: 18px;
}
