

body {
  padding-top: 0px;
  padding-bottom: 40px; 
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.row-fluid {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 25px;
}

.heading, .subheading {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  text-align: center;
}
      
.navbar{
  min-height:0px !important;
  font-weight:700;
}
       
.navbar-right {
  width:auto;
  padding:1rem 5rem 0 0;
}     

.navbar-right li {
  padding:0 1rem;
}
      	
.data-tabs-main li {
  margin:1rem;
  font-size:1.3rem;
  float:right;
  font-weight:500;
}

img.logo {
  height:50px;
}
   
.container{
  min-width: 1200px !important;
  padding-top: 30px;
}

.actions {
  background-color: #666;
  padding: 3% 0%;
}

p.lead {
  padding-top: 15px;
}

p {
  font-size: 18px;
  line-height: 24px;
}

.pitch {
  padding: 2.5% 0%;
}
	
.order {
  padding: 2% 0%;
}


.dropdown-menu.multi-column {
  width: 800px;
}

.dropdown-menu.multi-column .dropdown-menu {
  display: block !important;
  position: static !important;
  margin: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

.dropdown-menu:before, 
.dropdown-menu:after {
  border: none !important;
  content: none !important;
}

.caption {
  text-align: center;
  font-size:1.5rem;
  margin-top:-6rem;
}

.list-cta {
  font-weight:700;
  font-size:1.7rem;
}

.list-cta li {
  margin:10px 0 15px 45px;
}

.list-cta ul {
  font-weight:300;
  margin-bottom: 30px;
}

.list-cta address {
  margin-left:100px;
  font-size:1.5rem;
}

h1, h2 {
  color:#005555!important;
}

.statistics h2 {
  color:#fff!important;
}

.bkgdlead {
  letter-spacing: 6px;
  color:#E6E6E6;
  font-size:15rem;
  font-weight:700;
  margin:7rem 0 -3rem;
}

.col-lg-4 p {
  font-size:0.9rem;
  margin-top: 1rem;
}

.intro {
  width:960px;
  margin:2rem auto;
  text-align: center;
}

.intro p {
  margin:2rem 0;
  line-height: 1.8rem;
}

.btn-cta {
  margin-top:3rem;
  font-size:3rem;
}
      
/* Leaflet Map */
#map_div1 { height: 500px; }
#map_div2 { height: 500px; }
#map_div3 { height: 500px; }



/* Marketing Copy and Footer */
.copy {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: justify;
}

.asset {
  padding: 2.5% 0%;
}

.footer {
  color: #cccccc;
  text-align: center;
}

.footer p {
  font-size: 11px;
}

.footer a {
  color: #ccccff;
}
      
      
